
.greenOk {
    color: green;
    font-size: large;
}

.greyOk {
    color: #ccc;
    font-size: x-small;
}

.placeholder {
    color: #c00;
}

.backlog-list-item {
    display: block;
    background-color: #ffffff;
    border-radius: 2px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 4px;
    margin-top: 0px;
    border-bottom: 1px solid #cccccc;
    cursor: move;
}

.backlog-item-title {
    display: inline-block;
    border: 1px solid #ffffff;
    cursor: text;
    padding-left: 2px;
    padding-bottom: 0px;
    padding-top: 2px;
    padding-right: 4px;
    min-height: 30px; 
    min-width: 10px; 
    max-width: 95%; 
    overflow-wrap: break-word; 
    word-wrap: break-word;
}

.backlog-item-title:focus {
    outline: none;
    background-color: #f5f5f5;
    border: 2px solid #e0e0e0;
    border-radius: 2px;
}

.backlog-item-block {
    margin-left: 40px;
    margin-right: 100px;
}

.backlog-list-item:hover .backlog-item-buttons {
    visibility: visible;
    display: inline;
    margin: 0px;
    padding: 0px;
}

.backlog-list-item:hover .backlog-item-title {
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

.backlog-item-buttons {
    visibility: hidden;
    display: inline;
    margin: 0px;
    padding: 0px;
}

.backlog-item-right {
    margin: 0px;
    padding: 0px;
    float: right;
}

.backlog-btn {
    margin: 5px;
    padding: 4px;
    padding-bottom: 2px;
}

.detail-link {
    min-width: 40px;
    display: inline-block;
    float: left;
}

.milestone > .detail-link {
    display: none;
}

.milestone .backlog-item-title {
    font-weight:bold;
}

.milestone .backlog-item-block {
    margin-left: 0px;
}

.milestone {
    display: block;
    padding: 0px;
    margin-bottom: 6px;
    margin-top: 0px;
    cursor: move;

    background-color: inherit;
    border-radius: 2px;
    padding-bottom: 4px;
    margin-top: 0px;
    border-bottom: 0px;
    cursor: move;
}

.milestone > .milestone-block {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: block;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 2px;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 8px;
    margin-top: 0px;
    margin-left: auto;
    cursor: move;
}

