Source: backle
Maintainer: Sebastian Mancke <s.mancke@tarent.de>
Uploaders: Sebastian Mancke <s.mancke@tarent.de>
Section: web
Priority: extra
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9) 
Homepage: https://github.com/smancke/backle

Package: backle
Architecture: all
Depends: libapache2-mod-php5 | libapache2-mod-php5filter | php5-cgi | php5-fpm | php5,
    php5-pgsql, 
    php5-json,
    ${misc:Depends}, 
    dbconfig-common,
    libjs-jquery,
    libjs-jquery-ui,
Recommends: apache2
Suggests: postgresql
Description: Backle, the agile backlog management tool
