#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

REVISION := $(shell head -1 debian/changelog | sed 's/.*(//;s/).*//;s/.*-//')

build-arch:

build: build-indep
build-indep:

clean:
	dh_testdir
	# check for submodule existence
	test -f app/SimpleOAuthLogin/README.md
	test -f app/lib/ckeditor/README.md
	dh_testroot
	dh_clean

binary-indep:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installdebconf
	dh_installman
	rm \
		debian/backle/usr/share/backle/www/app/SimpleOAuthLogin/LICENSE \
		debian/backle/usr/share/backle/www/app/lib/angular-LICENSE.txt \
		debian/backle/usr/share/backle/www/app/lib/bootstrap-LICENSE.txt \
		debian/backle/usr/share/backle/www/app/lib/ckeditor/LICENSE.md \
		debian/backle/usr/share/backle/www/app/lib/jquery-LICENSE.txt \
		debian/backle/usr/share/backle/www/app/lib/jquery-ui-LICENSE.txt \
		debian/backle/usr/share/backle/www/lib/Slim/LICENSE \
		debian/backle/usr/share/backle/www/lib/dbFacile/LICENSE.txt \
		debian/backle/usr/share/backle/www/api/.htaccess
	dh_lintian
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
